@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-950 text-slate-100 transition-colors duration-500 ease-in-out;
    font-family: theme("fontFamily.sans");
  }

  h1,
  h2,
  h3 {
    font-family: theme("fontFamily.serif");
  }
}

/* Clean scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}
